<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LIST APP</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h1 class="title">LIST APP</h1>
        <p class="description">
          LIST APP makes a list.<br>
          You can add an item to this list.
        </p>
        <a class="index-button" href="/index">See My List</a>
      </div>
    </div>
  </body>
</html>